<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Работники компании</title>
</head>
<body>
    <h1>Сотрудники вашей компании</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Должность</th>
                <th>Зарплата</th>
                <th>Телефон</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for worker in workers %}
                <tr>
                    <td>{{ worker.first_name }}</td>
                    <td>{{ worker.last_name }}</td>
                    <td>{{ worker.position }}</td>
                    <td>{{ worker.salary }}</td>
                    <td>{{ worker.phone_number }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="worker_id" value="{{ worker.id }}">
                            <button type="submit">Выдать зарплату</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
