<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Выплаты зарплаты</title>
</head>
<body>
    <h1>Выплаты зарплаты сотрудникам</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Имя сотрудника</th>
                <th>Дата</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
                <tr>
                    <td>{{ payment.worker.first_name }} {{ payment.worker.last_name }}</td>
                    <td>{{ payment.date }}</td>
                    <td>{{ payment.amount }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
